@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Yrsa:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}
.wrapper {
  @apply container mx-auto px-5 md:px-0;
}

.section-padding {
  @apply py-10 md:py-20;
}

/* LINK STYLES */
.link-item {
  @apply relative text-text;
}

.link-item::after {
  @apply content-[''] absolute bottom-0 left-1/2 w-0 h-[2px] bg-accent -translate-x-1/2 duration-300;
}
.link-item:hover:after {
  @apply w-full;
}
.style-text {
  font-family: "Edu SA Beginner", cursive;
}
.hero-left-line::after {
  @apply content-[''] absolute top-2/4 mt-20 left-0 w-3/4 h-[1px] bg-light ms-20;
}
.hero-left-line::before {
  @apply content-[''] absolute left-[14rem] top-16 h-2/3 w-[1px] bg-light z-[1];
}

.hero-right-line::after {
  @apply content-[''] absolute bottom-1/4 right-0 w-1/3 h-[2px] bg-light me-20;
}
.hero-right-line::before {
  @apply content-[''] absolute bottom-2 right-1/4 h-1/3 w-[2px] bg-light;
}
.about-line::after {
  @apply content-[''] absolute  right-[40%]  h-full w-[2px] bg-light;
}
.about-line::before {
  @apply content-[''] absolute left-2 top-14 w-2/3 h-[2px] bg-light;
}
.our-team:last-child:after {
  @apply rotate-90  style-text text-8xl font-bold content-['TEAM'] absolute -right-2/3 bottom-20 w-full h-40 text-light/60;
}

/* Custom CSS for gallery */
.gallery-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: transform 2s ease-in-out;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.instagram::after {
  @apply rotate-90  style-text text-8xl font-bold content-['INSTAGRAM'] absolute -left-[37rem] bottom-40 w-full h-40 text-light/60;
}
